.img-thumbnail {
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    transition: transform 1s;
}

.img-thumbnail:hover {
    transform: scale(1.25);
    border-color: #333;
}

.title{
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.container {
    text-align: center;
    margin-top: 20px;
}

.navbar-brand {
    font-size: 50px;
    font-weight: lighter;
}

body {
    
    background: linear-gradient(to right, rgba(0, 0, 255, 0.418) 50%, rgba(255, 0, 0, 0.446) 50%);
    color: rgb(0, 0, 0);
    height: 20px;
    margin: 5px;
}
